@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Syne:wght@400..800&display=swap');
@font-face {
  font-family: Canopee;
  src: url(../font/Canopee\ Regular.otf);
}
@font-face {
  font-family: Andorian;
  src: url(../font/Andarion-Regular.ttf);
}
@font-face {
  font-family: Canavar;
  src: url(../font/CANAVAR.ttf);
}

:root {
  --glow-color: hsl(320, 97%, 60%);
  --cubicbz: cubic-bezier(.9, 0, 1, 1);
  --white: #FDF7F4;
  --glow-orange: hsl(16, 97%, 60%);
  --orange: #FD7F52;
  --glow-green: hsl(136, 97%, 60%);
  --green: #52FD7F;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-feature-settings: 'pnum' on, 'lnum' on;
  cursor: none;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: var(--white);
}

nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5em 2em;
  color: var(--white);
  mix-blend-mode: difference;
  z-index: 100;
}

a {
  color: var(--white);
  text-decoration: none;
  font-family: 'Canopee';
  font-size: 25px;
  text-align: center;
}

.content {
  display: flex;
  color: var(--white);
  mix-blend-mode: difference;
  justify-content: center;
  align-items: center;
}
.button-cont{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5vw;
}

.glowing-btn {
  position: relative;
  color: var(--glow-green);
  padding: 0.35em 1em;
  border: 0.15em solid var(--glow-green);
  border-radius: 0.45em;
  background: none;
  perspective: 2em;
  font-family: "Andorian", sans-serif;
  font-size: 2em;
  font-weight: 900;
  letter-spacing: 1em;

  -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-green),
    0px 0px 0.5em 0px var(--glow-green);
  -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-green),
    0px 0px 0.5em 0px var(--glow-green);
  box-shadow: inset 0px 0px 0.5em 0px var(--glow-green),
    0px 0px 0.5em 0px var(--glow-green);
  animation: border-flicker 2s linear infinite;
}

.glowing-txt {
  float: left;
  margin-right: -0.8em;
  -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-green);
  -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
    0 0 0.45em var(--glow-green);
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-green);
  animation: text-flicker 3s linear infinite;
}

.faulty-letter {
  opacity: 0.5;
  animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.7;
  filter: blur(1em);
  transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
  background: var(--glow-green);
  pointer-events: none;
}

.glowing-btn::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  z-index: -1;
  background-color: var(--glow-green);
  box-shadow: 0 0 2em 0.2em var(--glow-green);
  transition: opacity 100ms linear;
}

.glowing-btn:hover {
  color: rgba(0, 0, 0, 0.8);
  text-shadow: none;
  animation: none;
}

.glowing-btn:hover .glowing-txt {
  animation: none;
}

.glowing-btn:hover .faulty-letter {
  animation: none;
  text-shadow: none;
  opacity: 1;
}

.glowing-btn:hover:before {
  filter: blur(1.5em);
  opacity: 1;
}

.glowing-btn:hover:after {
  opacity: 1;
}

/* Custom cursor on GSAP */
.cursor,
.follow {
  position: fixed;
  pointer-events: none;
  mix-blend-mode: difference;
  transform: rotate(45deg);
  z-index: 9999;
  font-family: 'Syne', sans-serif;
}

.cursor {
  width: 10px;
  height: 10px;
  background: var(--white);
  transition: transform .4s var(--cubicbz);
}

.follow {
  width: 30px;
  height: 30px;
  border: 2px solid var(--white);
  transition: border .4s var(--cubicbz);
}

.cursor.active{
  transform: rotate(45deg) scale(0);
}
.follow.active{
  border-color: transparent;
}

.follow_txt {
  position: absolute;
  font-weight: 800;
  width: 300%;
  height: 300%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  background: var(--white);
  transition: opacity .4s var(--cubicbz), transform .4s var(--cubicbz);
  transition-delay: .1s;
}

.follow.active .follow_txt {
  transform: translate(-50%, -50%) scale(1);
}
  
.follow_txt div {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 0.875em;
  color: black;
  text-transform: uppercase;
  transform: translate(-50%, -50%) rotate(-45deg);
}

@keyframes faulty-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 0.1;
  }
  4% {
    opacity: 0.5;
  }
  19% {
    opacity: 0.5;
  }
  21% {
    opacity: 0.1;
  }
  23% {
    opacity: 1;
  }
  80% {
    opacity: 0.5;
  }
  83% {
    opacity: 0.4;
  }

  87% {
    opacity: 1;
  }
}

@keyframes text-flicker {
  0% {
    opacity: 0.1;
  }

  2% {
    opacity: 1;
  }

  8% {
    opacity: 0.1;
  }

  9% {
    opacity: 1;
  }

  12% {
    opacity: 0.1;
  }
  20% {
    opacity: 1;
  }
  25% {
    opacity: 0.3;
  }
  30% {
    opacity: 1;
  }

  70% {
    opacity: 0.7;
  }
  72% {
    opacity: 0.2;
  }

  77% {
    opacity: 0.9;
  }
  100% {
    opacity: 0.9;
  }
}

@keyframes border-flicker {
  0% {
    opacity: 0.1;
  }
  2% {
    opacity: 1;
  }
  4% {
    opacity: 0.1;
  }

  8% {
    opacity: 1;
  }
  70% {
    opacity: 0.7;
  }
  100% {
    opacity: 1;
  }
}

@media only screen and (max-width: 600px) {
  .glowing-btn{
    font-size: 1em;
  }
}